* {
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(28,28,28,1) 53%, rgba(11,11,11,1) 92%); color: white;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
}
.Navbar{
  width: 100%;
  padding: 15px;
  text-align: left;
  background-color: rgb(46, 165, 62);
  /* margin-bottom: 5px; */
}  
.Navbar >ul{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  list-style-type: none;
}

/* .Navbar > h3{ */
  /* justify-content: center; */
/* } */
.Login{
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;  
  color: white;
  
}

.Login a{
  /* margin-top: 200px; */
  text-decoration: none;
  background-color: #1ED760;
  padding: 8px 30px;
  color: white;
  font-size: medium;
  border-radius: 15px;
}

.artists-grid{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  background-color: #292929;
  padding: 10px;
}  

.container{
  position: relative;
  /* text-align: center; */
}

.artist-data{
  width: 80%;
  left:5%;
  /* background-color: #292929; */
  position: absolute;
  font-weight: bold;
  padding: 5px;
  bottom: 8px;
  transition: transform .5s;
  /* left: 16px; */
}
.artist-data:hover{
  
  background-color: #2b2b2b;
  border-radius: 10px;
  transform: scale(1.05);
}
.artist-image{
  
  transition: transform .5s;
}
.artist-image:hover{
  
  /* background-color: #292929; */
  border-radius: 10px;
  transform: scale(1.05);
}
.h4-styling{
  padding: 10px;
}
.span-filters{
  margin: .5%;
  background-color: #24301f;
  padding: 5px;
  border-radius: 15px;
}
.navbar-links{
  text-decoration: none;
  color: white;
}